/* Allgemeines Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header */
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
    color: #f1c40f;
    text-shadow: 2px 2px 8px #000;
}

p {
    font-size: 1.2em;
    text-align: center;
    color: #ccc;
}

/* Produkt Sektion */
section {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

section h2 {
    text-align: center;
    color: #f1c40f;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    background-color: #f1c40f;
    color: #000;
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #e67e22;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

/* Effektbereich */
.idea-container {
    margin-top: 50px;
    position: relative;
    height: 400px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idea-container h3 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 5s infinite;
    animation-delay: 1s;
}

/* Animations für Ideen */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Musik-Player */
audio {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    width: 200px;
    background-color: transparent;
    border: none;
}
